*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(247, 224, 180);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    margin: 100px;
    background-color: white;
    width: 300px;
    height: 350px;
    border-radius: 15px;
}
.container h2{
    text-align: center;
    padding-top: 20px;
}
form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.amount-imput{
    display: flex;
    flex-direction: column;
    width: 235px;
}
.amount-imput input{
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0px 10px;
}
.drop{
    display: flex;
    flex-direction: row;
}
select{
    border: 0;
    border-radius: 5px;

}


.from-box, .to-box{
    padding: 4px 1px;
    border: solid 1px grey;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.from, .to{
    padding: 0px 25px;

}
span{
    margin-top: 20px;
}
button{
    width: 235px;
    border: 0px solid grey;
    border-radius: 5px;
    height: 35px;
    background-color: #3240bc;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
label{
    font-size: 14px;
}
form p{
    font-size: 14px;
}
.foot{
    text-align: center;
    font-size: 8px;
    font-weight: 300;
    padding-top: 5px;
}